<main>
  <section class="userData">
    <img [src]="user_avatar()" alt="user avatar" />
    <div class="userData__header">
      <h3>{{ userData()?.firstName }} {{ userData()?.lastName }}</h3>
      <p>Brasil</p>
      <button mat-flat-button (click)="openDialogCreateProject()">Adicionar projeto</button>
    </div>
  </section>

  <section class="projects">
    <h4>Meus projetos</h4>
    <app-autocomplete-chips-form
      class="autocomplete__form"
      [tags]="tags"
      (tagsEmitter)="filterProjectsByTags($event)"
    ></app-autocomplete-chips-form>

    <div class="projects__grid">
      @if (loading()) {
      <span class="spinner_container">
        <mat-spinner></mat-spinner>
      </span>
      } @for (project of myProjects(); track $index) {
      <!-- TODO: fazer exibição dos projetos filtrados pelas tags -->
      <mat-card appearance="outlined" class="project__card">
        <mat-card-header>
          <img mat-card-avatar [src]="user_avatar()" alt="user avatar" />
          <mat-card-title [title]="project.title">{{ project.title }} </mat-card-title>
          <mat-card-subtitle class="project__details">
            <span
              >{{ userData()?.firstName }} {{ userData()?.lastName }} •
              {{ project.createdAt | date : "dd/MM" }}</span
            >
          </mat-card-subtitle>
        </mat-card-header>
        <span class="project__thumbnail__options">
          @if (project.thumbnailUrl) {
          <img
            mat-card-image
            [src]="project.thumbnailUrl"
            alt="project thumbnail"
            class="project__thumbnail"
          />
          }@else {
          <img
            mat-card-image
            src="assets/no_image.jpg"
            alt="project thumbnail"
            class="project__thumbnail"
          />
          }

          <button
            mat-button
            [matMenuTriggerFor]="project_options"
            #menuTrigger
            class="project__options__button"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <mat-menu #project_options="matMenu" xPosition="before">
            <button mat-menu-item (click)="openDialogUpdateProject(project)">Editar</button>
            <button mat-menu-item (click)="openDialogDeleteProject(project.id)">Excluir</button>
          </mat-menu>
        </span>
        <mat-card-content>
          <div class="project__tags">
            <mat-chip-set aria-label="Tags selection">
              @for (tag of project.tags; track $index) {
              <mat-chip>{{ tag.tagName }}</mat-chip>
              }
            </mat-chip-set>
          </div>
        </mat-card-content>
      </mat-card>
      }
    </div>
  </section>
</main>
