<main>
  <h2>
    Junte-se à comunidade de inovação, inspiração e descobertas, transformando experiências em
    conexões inesquecíveis.
  </h2>

  <app-autocomplete-chips-form
    [tags]="tags"
    (tagsEmitter)="filterProjectsByTags($event)"
    class="autocomplete__form"
  ></app-autocomplete-chips-form>

  <mat-progress-bar
    mode="indeterminate"
    style="margin-bottom: 8px"
    [ngStyle]="{ visibility: loading() ? 'visible' : 'hidden' }"
  ></mat-progress-bar>

  <div class="projects__grid">
    @for (project of (discoveryProjects()); track $index) {
    <!-- TODO: fazer exibição dos projetos filtrados pelas tags -->
    <mat-card appearance="outlined" class="project__card">
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="project.author?.avatarUrl ?? 'assets/user_icon_1.png'"
          alt="user avatar"
        />
        <mat-card-title [title]="project.title" class="project_title"
          ><span (click)="open_project_details(project)">{{ project.title }}</span>
        </mat-card-title>
        <mat-card-subtitle class="project__details">
          <span
            >{{ project.author?.firstName }} {{ project.author?.lastName }} •
            {{ project.createdAt | date : "dd/MM" }}</span
          >
        </mat-card-subtitle>
      </mat-card-header>
      <span class="project__thumbnail__options">
        @if (project.thumbnailUrl) {
        <img
          mat-card-image
          [src]="project.thumbnailUrl"
          alt="project thumbnail"
          class="project__thumbnail"
        />
        }@else {
        <img
          mat-card-image
          src="assets/no_image.jpg"
          alt="project thumbnail"
          class="project__thumbnail"
        />
        }
      </span>
      <mat-card-content>
        <div class="project__tags">
          <mat-chip-set aria-label="Tags selection">
            @for (tag of project.tags; track $index) {
            <mat-chip>{{ tag.tagName }}</mat-chip>
            }
          </mat-chip-set>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>

  <mat-paginator
    [length]="this.totalElements()"
    [pageSize]="this.pageSize()"
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Selecione a página"
    (page)="handlePageEvent($event)"
    style="margin-top: 20px; align-self: flex-start"
  >
  </mat-paginator>
</main>
