<main>
  <img src="assets/login_img.png" alt="image login" />

  <section>
    <h2 style="text-align: center">Entre no Orange Portfólio</h2>
    <button
      mat-stroked-button
      type="button"
      location="center"
      class="google_login__button"
      (click)="loginGoogle()"
    >
      <img src="assets/google_icon.svg" alt="Google login" />
      <span> Entrar com Google</span>
    </button>
    <h5>Faça login com email</h5>
    <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- input de email -->
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>Entre com seu email</mat-label>
        <input
          matInput
          placeholder="fulano@email.com"
          formControlName="email"
          (blur)="updateErrorMessageEmail()"
          required
        />
        @if (!loginForm.get('email')?.valid) {
        <mat-error>{{ errorMessageEmail() }}</mat-error>
        }
      </mat-form-field>

      <!-- input de senha -->
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>Entre com sua senha</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          (blur)="updateErrorMessagePassword()"
          formControlName="password"
        />
        @if (!loginForm.get('password')?.valid) {
        <mat-error>{{ errorMessagePassword() }}</mat-error>
        }
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
          type="button"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button class="signin__button" type="submit" [disabled]="!loginForm.valid">
        Entrar
      </button>
      <mat-progress-bar
        mode="indeterminate"
        [ngStyle]="{ visibility: logging() ? 'visible' : 'hidden' }"
      ></mat-progress-bar>
      <a mat-button class="signup__button" routerLink="/register">Cadastre-se</a>
    </form>
  </section>
</main>
