@import "../../../styles.scss";
main {
  margin: 20px;
  color: var(--text-color);
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-right: 20px;

  & button:last-of-type {
    width: 15%;
    align-self: center;
    padding: 8px 0;
  }

  .project_thumbnail {
    width: 100%;
    object-fit: fill;
    height: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .metadata {
    display: flex;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}
