@import "@angular/material/prebuilt-themes/cyan-orange.css";

:root {
  --text-color: #ccc;
}

body {
  background-color: #191c1c;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.msg-success {
  background-color: #2e7d32;
  color: white;
}

.msg-error {
  background-color: #e23131 !important;
  color: white !important;
}
