@import "@angular/material/prebuilt-themes/cyan-orange.css";

body {
  background-color: #191c1c;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.msg-sucess {
  background-color: #28a745;
  color: white;
}

.msg-error {
  background-color: red !important;
  color: white !important;
}

// 2 classes abaixo são de componentes internos do snackbar
.mat-mdc-snackbar-surface {
  background-color: transparent !important;
  color: #ccc !important;
}

.mdc-button__label {
  color: #ccc;
}
