<main>
  <h5 mat-dialog-title>Adicionar projeto</h5>
  <mat-dialog-content>
    <div class="create_project_visualization">
      <p>Selecione o conteúdo que você deseja fazer upload</p>
      <img src="assets/image_upload.svg" alt="" />
    </div>

    <form class="create_project_form" (ngSubmit)="createProject()" [formGroup]="projectForm">
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input
          matInput
          placeholder="Título"
          formControlName="title"
          (blur)="updateMessageTitle()"
        />
        @if (!projectForm.get('title')?.valid) {
        <mat-error>{{ errorMessageTitle() }}</mat-error>
        }
      </mat-form-field>

      <app-autocomplete-chips-form
        [tags]="data.tags"
        (tagsEmitter)="selectTags($event)"
      ></app-autocomplete-chips-form>

      <mat-form-field>
        <mat-label>Url</mat-label>
        <input
          matInput
          placeholder="Url"
          formControlName="url"
          type="url"
          (blur)="updateMessageUrl()"
        />
        @if (!projectForm.get('url')?.valid) {
        <mat-error>{{ errorMessageUrl() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          placeholder="Descrição"
          formControlName="description"
          (blur)="updateMessageDescription()"
        ></textarea>
        @if (!projectForm.get('description')?.valid) {
        <mat-error>{{ errorMessageDescription() }}</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <span>
    <p style="padding-left: 24px">Visualizar publicação</p>
    <mat-dialog-actions align="start" class="create_project_actions">
      <button
        mat-flat-button
        color="primary"
        mat-dialog-close
        (click)="createProject()"
        [disabled]="!projectForm.valid"
      >
        Salvar
      </button>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
      <!-- </div> -->
    </mat-dialog-actions>
  </span>
</main>
